{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Utility</title>
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="app-title">Daily Utility</h1>
        <div class="card-container">
            <div class="card">
                <h3>PDF to Text</h3>
                <p>Convert PDF files into plain text and download them</p>
                <a href="{% url 'App_Converter:pdf_to_text' %}" class="btn">Convert PDF</a>
            </div>
            <div class="card">
                <h3>Image to Text</h3>
                <p>Extract text from images using OCR and download</p>
                <a href="{% url 'App_Converter:image_to_text' %}" class="btn">Extract Text</a>
            </div>
            <div class="card">
                <h3>Remove Background</h3>
                <p>Remove the background from images and download them</p>
                <a href="{% url 'App_Converter:upload_image' %}" class="btn">Remove Background</a>
            </div>
            <div class="card">
                <h3>Convert Image Format</h3>
                <p>Convert images to different formats (PNG, JPG, WebP)</p>
                <a href="{% url 'App_Converter:convert_image' %}" class="btn">Convert Image</a>
            </div>
            <div class="card">
                <h3>Download Media</h3>
                <p>Download videos from YouTube, Instagram, Facebook, or TikTok</p>
                <a href="{% url 'App_Converter:download_media' %}" class="btn">Link Download</a>
            </div>
            <div class="card">
                <h3>Download QR Code</h3>
                <p>Generate & Download QR Code from using any URL</p>
                <a href="{% url 'App_Converter:generate_qr_code' %}" class="btn">Download QR</a>
            </div>
            <!-- <div class="card">
                <h3>Convert MP4 To MP3</h3>
                <p>Download mp3 audio file from mp4 video </p>
                <a href="{% url 'App_Converter:mp4_to_mp3' %}" class="btn">Convert Mp3</a>
            </div> -->
        </div>
    </div>
</body>
</html>
