{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP4 to MP3 Converter</title>
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Main Title -->
        <h1 class="app-title">Convert MP4 to MP3</h1>

        <!-- Success Message -->
        {% if message %}
        <div class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>
        <!-- Download Link for Converted MP3 -->
        <div class="text-center">
            <a href="{{ file }}" class="btn btn-download" download>Download MP3 File</a>
        </div>
        {% endif %}

        <!-- Upload Form Section -->
        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="video" class="form-label">Upload MP4 Video:</label>
                    <input type="file" name="video" id="video" class="form-control-file" required>
                </div>
                <button type="submit" class="btn">Convert to MP3</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
