{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Image Background</title>
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mb-4">
        <!-- Main Title -->
        <h1 class="app-title">Remove Background from Image</h1>

        <!-- Success Message and Processed Image Display -->
        {% if message %}
        <div class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>

        <!-- Updated Processed Image Display Section -->
        <div class="image-display-container">
            <div class="image-card">
                <img src="{{ processed_image_url }}" class="processed-image" alt="Processed Image">
                <div class="image-card-footer">
                    <a href="{{ processed_image_url }}" class="btn-download" download>Download Processed Image</a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Upload Form Section -->
        <div class="container">
            <!-- <h4 class="app-title">Upload a New Image</h4> -->
            <div class="form-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="image" class="form-label">Choose Image:</label>
                        <input type="file" name="image" class="form-control-file" required>
                    </div>
                    <div class="">
                        <button type="submit" class="btn">Remove Background</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
